{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form, render_field, render_form_row %}
{% block head %}
<script src="{{ url_for('static', filename='map.js') }}"></script>
<script src="{{ url_for('static', filename='map_state.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/FileSaver.min.js') }}"></script>
{% endblock %}
{% block title %}Org mapa{% endblock %}
{% block body %}

<canvas id="grid_canvas" width="900px"></canvas>
<div id="map_controls"></div>

<script>
    const game_canvas = document.getElementById('grid_canvas');

    // Draw initial state
    var init_states = {{ states | tojson }};

    init_states.forEach(state => {
        addMapState(state, game_canvas);
    });

    var wsProtocol = 'ws://';
    if (window.location.protocol === 'https:') {
        wsProtocol = 'wss://';
    }

    function connect_ws() {
        const socket = new WebSocket(wsProtocol + location.host + '/org/ws/map');
        socket.onmessage = function(ev) {
            data = JSON.parse(ev.data);
            if (data["type"] == "map") {
                addMapState(data["data"], game_canvas);
            }
        };
        socket.onclose = function(e) {
            console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            setTimeout(function() {
                connect_ws();
            }, 1000);
        };
        socket.onerror = function(err) {
            console.error('Socket encountered error: ', err.message, 'Closing socket');
            ws.close();
        };
    }

    connect_ws();

    async function download_zip_pngs(canvas) {
        var zip = new JSZip();
        var rounds_dir = zip.folder("rounds");

        // Get list of rounds, load each one, render it as PNG and add it to ZIP
        for (let i = 0; i < states.length; i++) {
            drawMap(states[i], canvas);
            let blob = await new Promise((resolve) => {
                canvas.toBlob(function(blob) {
                    resolve(blob);
                });
            });
            rounds_dir.file('round-' + i.toString().padStart(6, '0') + '.png', blob, {binary: true});
        }

        zip.generateAsync({type:"blob"})
        .then(function(content) {
            saveAs(content, "blockly_rounds.zip");
        });
    }

</script>

<hr>
<button class="btn btn-secondary" onclick="download_zip_pngs(game_canvas);">Stáhnout záznam jako ZIP s PNG</button>
Timelapse ffmpeg command:
<code>ffmpeg -framerate 60 -pattern_type glob -i "*.png" -c:v libx264 -crf 20 -pix_fmt yuv420p -movflags +faststart output.mp4</code>


{% endblock %}
