{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form, render_field, render_form_row %}
{% block head %}
<script src="{{ url_for('static', filename='map.js') }}"></script>
{% endblock %}
{% block title %}Org index{% endblock %}
{% block body %}

<h3>Timer:</h3>
<form method="post">
    {{ timer_form.csrf_token() }}
    {{ render_form_row([
        timer_form.cowboy_turn_period,
        timer_form.bullet_turn_period,
        timer_form.bullet_turns,
        timer_form.stop,
        timer_form.start,
    ], button_map={'stop': 'danger', 'start': 'success'}) }}
</form>

<h3>Spočítat jednotlivě:</h3>
<form method="post">
    {{ action_form.csrf_token() }}
    <div class="btn-group">
        {{ render_field(action_form.calc_cowboys) }}
        {{ render_field(action_form.calc_bullets) }}
    </div>
</form>

<canvas id="grid_canvas" width="800px"></canvas>

<script>
    const game_canvas = document.getElementById('grid_canvas');

    // Draw initial state
    drawMap({{ map_state | tojson }}, game_canvas);

    var wsProtocol = 'ws://';
    if (window.location.protocol === 'https:') {
        wsProtocol = 'wss://';
    }

    function connect_ws() {
        const socket = new WebSocket(wsProtocol + location.host + '/org/ws/map');
        socket.onmessage = function(ev) {
            data = JSON.parse(ev.data);
            if (data["type"] == "map") {
                showScore(data["data"]["points"], game_score);
                drawMap(data["data"], game_canvas);
            }
        };
        socket.onclose = function(e) {
            console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            setTimeout(function() {
                connect_ws();
            }, 1000);
        };
        socket.onerror = function(err) {
            console.error('Socket encountered error: ', err.message, 'Closing socket');
            ws.close();
        };
    }

    connect_ws();
</script>

{% endblock %}
