<!DOCTYPE html>
<html>
<head>
    <title>Blockly hra</title>
    <script type="text/javascript" src="{{ url_for('static', filename='pokus.js') }}"></script>
    <script src="https://unpkg.com/blockly/blockly.min.js"></script>
    <!--<script src="https://unpkg.com/blockly/msg/cs.js"></script>-->
</head>
<body>
    <div id="blocklyDiv" style="height: 480px; width: 100%"></div>
    <xml id="toolbox" style="display: none;"><!-- Repeat n times block -->
        <block type="controls_repeat_ext"></block>
        <block type="move_direction"></block>
        <block type="controls_if"></block>
        <block type="comparison"></block>
        <block type="arithmetic"></block>
        <block type="idx_param"></block>
        <block type="math_number"></block>
    </xml>

    <button onclick="play()">Play</button>
    <button onclick="stop()">Stop</button>

    <canvas id="gridCanvas" width="500" height="500"></canvas>

    <span id="xmlOutput"></span>

    <script>
        window.onload = function() {
            canvas = document.getElementById('gridCanvas');
            canvasContext = canvas.getContext('2d');

            drawGrid();

            workspace = Blockly.inject('blocklyDiv', {
                toolbox: {{ toolbox | tojson(indent=4) | indent(width=16) }}
            });
        }

        Blockly.defineBlocksWithJsonArray({{ custom_blocks | tojson(indent=4) | indent(width=8) }});

        // Blockly.Blocks['comparison'] = {
        //     init: function() {
        //         this.appendValueInput("A")
        //             .setCheck("Number");
        //         this.appendDummyInput()
        //             .appendField(new Blockly.FieldDropdown([
        //                 ["≤", "LE"],
        //                 ["<", "LT"],
        //                 ["=", "EQ"]
        //             ]), "OPERATOR");
        //         this.appendValueInput("B")
        //             .setCheck("Number");
        //         this.setInputsInline(true);
        //         this.setOutput(true, "Boolean");
        //         this.setColour(10);
        //         this.setTooltip("");
        //         this.setHelpUrl("");
        //     }
        // };

        // Blockly.Blocks['arithmetic'] = {
        //     init: function() {
        //         this.appendValueInput("A")
        //             .setCheck("Number");
        //         this.appendDummyInput()
        //             .appendField(new Blockly.FieldDropdown([
        //                 ["+", "PLUS"],
        //                 ["-", "MIN"],
        //                 ["×", "MULT"],
        //                 ["÷", "DIV"],
        //                 ["%", "MOD"]
        //             ]), "OPERATOR");
        //         this.appendValueInput("B")
        //             .setCheck("Number");
        //         this.setInputsInline(true);
        //         this.setOutput(true, "Number");
        //         this.setColour(230);
        //         this.setTooltip("");
        //         this.setHelpUrl("");
        //         }
        //     };
    </script>
</body>
