{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='lib/blockly.min.js') }}"></script>
{% endblock %}
{% block title %}{{ entity_name }}{% endblock %}
{% block body %}
</main>
<div id="blocklyDiv" style="height: 70vh; width: 100%;"></div>
<main>

<div class="card">
    <div class="card-body">
        <div id="editor-alert"></div>
        <div class="row">
            <label for="name" class="col-sm-2 col-form-label">Název programu:</label>
            <div class="col-sm-5">
                <input type="text" class="col-auto form-control" name="name" id="program-name">
            </div>
            <div class="col-sm-5 btn-group">
                <button type="button" id="program-save" class="btn btn-primary" disabled onclick="saveProgram(true)">Uložit (a přepsat)</button>
                <button type="button" id="program-save-new" class="btn btn-primary" onclick="saveProgram(false)">Uložit jako nový</button>
            </div>
        </div>
        <div class="row mt-2">
            <label for="name" class="col-sm-2 col-form-label">Popis:<br><small>(pro vás)</small></label>
            <div class="col-sm-10">
                <textarea name="description" id="program-description" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>

<h2 class="mt-2">Programy</h2>
<div id="list-alert"></div>
<table class="table table-hover">
<thead>
    <tr><th>Název</th><th>Popis</th><th><button class="float-end btn btn-sm btn-outline-primary" onclick="loadNew()">Nový program</button></th></tr>
</thead>
<tbody id="program-list"></tbody>
</table>

<script>
var gEditorUUID = null;
var gPrograms = {}

var elEditorAlert = document.getElementById('editor-alert');
var elListAlert = document.getElementById('list-alert');
var elName = document.getElementById('program-name');
var elDescription = document.getElementById('program-description');
var elProgramSave = document.getElementById('program-save');
var elProgramSaveNew = document.getElementById('program-save-new');
var elProgramList = document.getElementById('program-list');

var workspace = Blockly.inject('blocklyDiv', {
    toolbox: {{ toolbox | tojson(indent=4) | indent(width=16) }}
});

var unsavedChanges = false;

window.addEventListener("beforeunload", function (e) {
    if (!unsavedChanges) {
        return undefined;
    }

    var confirmationMessage = 'Máte neuložené změny, chcete skutečně opustit stránku?';

    (e || window.event).returnValue = confirmationMessage; //Gecko + IE
    return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
});

Blockly.defineBlocksWithJsonArray({{ custom_blocks | tojson(indent=4) | indent(width=8) }});

workspace.addChangeListener(function( event ) {
    if (["click", "selected", "drag", "toolbox_item_select"].includes(event.type)) {
        return;
    }
    if (event.type == "finished_loading") {
        unsavedChanges = false;
        return;
    }
    console.log(event);
    unsavedChanges = true;
});

function loadNew() {
    if (unsavedChanges) {
        if (!confirm("Máte neuložené změny, chcete načíst nový program a neuložené změny zahodit?")) {
            return;
        }
    }

    gEditorUUID = null;
    elName.value = "";
    elDescription.value = "";
    elProgramSave.disabled = true;
    workspace.clear();
    window.scrollTo(0, 0);
    unsavedChanges = false;
}

function markActiveRow(uuid) {
    var rows = document.querySelectorAll(".program-row");
    rows.forEach(row => row.classList.remove('table-primary'));
    document.getElementById('row-'+uuid).classList.add('table-primary');
}

async function loadProgram(uuid) {
    if (unsavedChanges) {
        if (!confirm("Máte neuložené změny, chcete načíst nový program a neuložené změny zahodit?")) {
            return;
        }
    }

    fetch('/api/{{ entity }}/' + uuid + '/code')
    .then(response => response.text())
    .then(code => {
        gEditorUUID = uuid;
        elName.value = gPrograms[uuid]['name'];
        elDescription.value = gPrograms[uuid]['description'];
        elProgramSave.disabled = false;

        Blockly.Xml.clearWorkspaceAndLoadFromXml(Blockly.utils.xml.textToDom(code), workspace);
        window.scrollTo(0, 0);
        markActiveRow(uuid);

    }).catch(error => {
        bootstrap_alert(elListAlert, "danger", "<strong>Chyba při nahrávání programu:</strong> "+error['error']);
    });
}

async function deleteProgram(uuid) {
    if (!confirm('Opravdu smazat program "' + gPrograms[uuid]['name'] + '"?')) {
        return;
    }

    return fetch('/api/{{ entity }}/' + uuid, {
        method: 'DELETE'
    }).then(response => {
        if (response.ok) {
            bootstrap_alert(elListAlert, "info", "Program smazán");
            reloadList();
        } else {
            return response.json().then(errResp => { throw new Error(errResp['error']) });
        }
    }).catch(err => {
        bootstrap_alert(elListAlert, "danger", "<strong>Chyba při mazání:</strong> "+err.message);
    });
}

async function setActive(uuid) {
    return fetch('/api/{{ entity }}/' + uuid + '/active', {
        method: 'POST'
    }).then(response => {
        if (response.ok) {
            bootstrap_alert(elListAlert, "success", "Program nastaven jako aktivní");
            reloadList();
        } else {
            return response.json().then(errResp => { throw new Error(errResp['error']) });
        }
    }).catch(err => {
        bootstrap_alert(elListAlert, "danger", "<strong>Chyba při nastavování:</strong> "+err.message);
    });
}

async function reloadList() {
    return fetch('/api/{{ entity }}')
    .then(response => response.json())
    .then(programs => {
        var newList = document.createElement("tbody");
        programs.forEach(program => {
            var uuid = program['uuid'];
            gPrograms[uuid] = program;

            var row = newList.insertRow();
            row.classList.add("program-row");
            row.id = "row-" + uuid;

            var name = row.insertCell()
            if (program['active']) {
                name.innerHTML = "<strong>" + program['name'] + "</strong> <small>(aktivní)</small>";
            } else if (!program['valid']) {
                name.innerHTML = program['name'] + " <small>(nevalidní)</small>";
            } else {
                name.innerText = program['name'];
            }

            var description = row.insertCell();
            description.innerText = program['description'];

            var buttons = "<div class='btn-group'>";
            buttons += "<button class='btn btn-sm btn-outline-primary' onclick='loadProgram(\"" + uuid + "\")'>Načíst v editoru</button>";
            if (!program['active']) {
                if (program['valid']) {
                    buttons += "<button class='btn btn-sm btn-outline-success' onclick='setActive(\"" + uuid + "\")'>Nastavit jako aktivní</button>";
                }
                buttons += "<button class='btn btn-sm btn-outline-danger' onclick='deleteProgram(\"" + uuid + "\")'>Smazat</button>";
            }
            buttons += "</div>";
            var actions = row.insertCell();
            actions.innerHTML = buttons;
        });
        elProgramList.innerHTML = newList.innerHTML;

        if (gEditorUUID) {
            markActiveRow(gEditorUUID);
        }
    });
}

async function saveProgram(overwrite) {
    var xml = Blockly.Xml.workspaceToDom(workspace);
    xml_code = Blockly.Xml.domToText(xml);

    var data = {
        'name': elName.value,
        'description': elDescription.value,
        'program': xml_code,
    };

    if (overwrite && gEditorUUID) {
        data['uuid'] = gEditorUUID;
    }

    fetch('/api/{{ entity }}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data),
    }).then(response => {
        if (response.ok) {
            return response.json();
        } else {
            return response.json().then(errResp => { throw new Error(errResp['error']) });
        }
    }).then(resp => {
        bootstrap_alert(elEditorAlert, "success", "Program uložen");
        gEditorUUID = resp['uuid'];
        elProgramSave.disabled = false;
        reloadList();
        unsavedChanges = false;
    }).catch(err => {
        bootstrap_alert(elEditorAlert, "danger", "<strong>Neuloženo!</strong> "+err.message);
    });
}

loadNew();
reloadList()
.then(x => {
    Object.keys(gPrograms).forEach(function(uuid) {
        if (gPrograms[uuid]['active']) {
            loadProgram(uuid);
        }
    });
})
</script>
{% endblock %}
